
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 24%;
  }

  .row-offcanvas-left {
    /*left: -4%;*/
    left: 24%; /*********************************/
  }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -26%; /* 3 columns */
  	background-color: rgb(255, 255, 255);
  }

  .row-offcanvas-left .sidebar-offcanvas {
    /*left: 4%; /* 3 columns */
    left: -26%; /*********************************/
  	background-color: rgb(255, 255, 255);
  }

  .row-offcanvas-right.active {
    right: -1%; /* 3 columns */
  }

  .row-offcanvas-left.active {
   /* left: -26%; /* 3 columns */
    left: -1%; /*********************************/
  }

  .row-offcanvas-right.active .sidebar-offcanvas {
  	background-color: rgb(254, 254, 254);
  }
  .row-offcanvas-left.active .sidebar-offcanvas {
  	background-color: rgb(254, 254, 254);
  }

.row-offcanvas .content {
    width: 74%; /* 9 columns */
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;

  }

  .row-offcanvas.active .content {
    width: 100%; /* 12 columns */
  }
       
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 24%; /* 3 columns */
  }
}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: -1%;
  }

  .row-offcanvas-left {
    /* left: -100; */
    left: -1%;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -51%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -51%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 49%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 49%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}