<!doctype html>
<html lang="en">
<title>911911</title>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jquery.tocify.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/offcanvas.css') }}" rel="stylesheet">


  <style> 
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 0;
      width: 150%;
  }
  .affix + div {
    margin-top: 72px;
  }

  </style>
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui-1.9.1.custom.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/jquery.tocify.js') }}"></script>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>

<script type="text/javascript">
  $(document).ready(function() {
    $("#toc").tocify();
  });
</script>

<body>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">911911</a>
      </div>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 2%">
        <li> <a href="/about">About</a>
      </ul>
    <!--
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search...">
        </div>
      </form>
    -->
    </nav>



    <div class="row" data-spy="affix" data-offset-top="72" style="z-index:999;">
      <div class="col-sm-12">
        <ol class="breadcrumb">
          <button type="button" class="btn btn-default" onclick="$('#toc').toggle();" data-toggle="offcanvas" {% if second %} {% else %} disabled{% endif %}>
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
          <li>
            <a href="/">Home</a></li>
            {% if dir1 %}
              <li><a href="/{{dir1}}">{{dir1}}</a></li>
            {% endif %}
          {% if second %}
          <li class="active">{{second}}</li>
          {% endif %}

        </ol>
      </div>

    </div>

    <div class="pull-right" id="toc" style="z-index:999;right:0%;" ></div>



  <div class="container-fluid" id="top">

    <div class="row-fluid" >

      <div class="col-sm-12" data-spy="scroll" style="margin-left:0%">

      {% block body %}{% endblock %}
      {% block markdown %}{% endblock %}
      </div>
    </div>
  </div>

</body>
</html>
